<style>
    html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
    body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
    
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
</style>

<div class="row" style="height:15px;"></div> <!-- buffer -->
<div class="container">
    <!-- Iterate through rows of the database if not empty -->
    <% if (devs.length > 0) { %>

        <div class="row text-center">
            <!-- Team item -->
            <% for (var i = 0; i < devs.length; i++) { %>
                <div class="col-xl-4 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><a href="/about-us/<%= devs[i].firstName %>"><img src="<%= devs[i].imageUrl %>" alt="" width="200" class="img-fluid  mb-3 img-thumbnail shadow-sm"></a>
                        <h5 class="mb-0"><a href="/about-us/<%= devs[i].firstName %>"><%= devs[i].firstName %> <%= devs[i].lastName %></a></h5><span class="small text-uppercase text-muted"><%= devs[i].jobTitle %></span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            <!-- End -->
            <% } %>
        </div>

    <!-- Database did not fill properly -->    
    <% } else { %>
        <h1>Developers not found.</h1>
    <% } %>
</div>
